<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hapag"
        tools:targetApi="31" >
        <activity
            android:name="com.example.Upload"
            android:exported="false"
            android:label="@string/title_activity_upload"
            android:theme="@style/Theme.Hapag" />
        <activity
            android:name="com.example.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Hapag" />
        <activity
            android:name=".Upload"
            android:exported="false"
            android:label="@string/title_activity_upload"
            android:theme="@style/Theme.Hapag" />
        <activity
            android:name="com.example.IngredientsAdd"
            android:exported="false"
            android:label="@string/title_activity_ingredients_add"
            android:theme="@style/Theme.Hapag" />
        <activity
            android:name=".BottomNavigationBar"
            android:exported="false" />
        <activity
            android:name="com.example.MyRecipes"
            android:exported="false" />
        <activity
            android:name="com.example.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name="com.example.recipe"
            android:exported="false" />
        <activity
            android:name="com.example.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.theme.FrontActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Hapag" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecipeActivity"
            android:exported="false" />
        <activity
            android:name="com.example.hapag.MyRecipesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.hapag.MyFavoritesActivity"
            android:exported="false" />
    </application>

</manifest>